@import "bootstrap-sprockets";
@import "bootstrap";




.success {
  background-color: hsl(171, 100%, 41%);
  width: 100%;
  min-height:50px;
  color:white;
  line-height:5;
}

.listing {
  list-style: none;
  padding-left: 0;
}